@import "../../App.sass";

.overview-card-header
    background-color: $head-color !important
    color: white
    height: 60px
    
.overview-card
    width: 100%
    +margin-all

.overview-card-group
    padding: $standard-space

.close
    &:hover
        color: red