@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

$head-color: #4d4d33
$standard-space: 10px
$mini-space: 5px
$btn: rgb(163, 163, 117)

h1
    color: $head-color

.margin-left
    margin-left:  $mini-space

.margin-right
    margin-right: $mini-space
    
.container-full
    width: 100%
    height: 100vh
    background-color: white
    padding: 30px

.pointer
    cursor: pointer
    &:hover
        color: red

.btn
    background-color: $btn !important
    border-color: none !important
    border-width: 0px !important
    color: white

FormGroup
    padding: $standard-space !important
