@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

$head-color: #4d4d33
$standard-space: 10px
$mini-space: 5px
$btn: rgb(163, 163, 117)

h1
    color: $head-color

.margin-left
    margin-left:  $mini-space

.margin-right
    margin-right: $mini-space

=margin-all()
    margin-right: $mini-space
    margin-left: $mini-space
    margin-top: $standard-space
    margin-bottom: $standard-space
    
.container-full
    position: relative
    width: 100%
    height: 100vh
    background-color: white
    padding: 30px
    overflow-y: auto

.center-all
  margin: 0 auto
  position: absolute
  top: 50%
  left: 50%
  -ms-transform: translate(-50%, -50%)
  transform: translate(-50%, -50%)


.pointer
    cursor: pointer

.btn
    background-color: $btn !important
    border-color: none !important
    border-width: 0px !important
    color: white

FormGroup
    padding: $standard-space !important

.flex-components
    justify-content: center
    width: 100%
    display: flex
    flex-wrap: wrap